body{
	margin:0;
	background-color:#222;
}

.container{
	width:800px;
	display:flex;
	flex-wrap:wrap;
	margin:20px auto;
}

.square{
	width:25px;
	height:25px;
	background-color:#333;
	margin:2px;
	transition:background-color 1s ease;
}